:root {
    --purple: #360e81;
    --green: #1A644D;
    --grey: #bfbfbf;
    --black: #000000;
    --white: #ffffff;
    --overlaygreen: #2CA881;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h2,
h3 {
    margin-top: 60px;
}

.project-preview>h2 {
    margin-top: inherit;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--purple);
}

h3 {
    font-size: 18px;
}

a {
    color: var(--purple);
}

a:hover,
a:focus {
    text-decoration: none;
}

a:visited {
    color: var(--green);
}

button,
.button {
    display: inline-block;
    border: none;
    font-family: inherit;
    background-color: #5213C8;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1C0743;
    transition: 0.2s opacity;
}

button,
.button:hover,
button,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

/*Layout Styling*/

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-container {
    max-width: 800px;
    font-size: 22px;
    margin: 0 auto;
}

.column-4 {
    font-size: 16px;
    width: 24%;
    display: inline-block;
    margin-right: 1%;
    text-align: center;
    vertical-align: top;
}

.column-4:last-child {
    margin-right: 0;
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
    margin: 0 auto;
}

.column-4 img {
    width: 100%;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation>li {
    display: inline-block;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: var(--purple);
}

.logo:visited {
    color: var(--purple);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footernav {
    list-style-type: none;
}

.project {
    position: relative;
}

.hometext {
    font-size: 22px;
}

.project-link {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    transition: all ease-in-out 400ms;
    text-decoration: none;
}

.project:hover .project-link {
    opacity: 1;
}

.project-details {
    color: var(--overlaygreen);
}

a>img,
.text-container>img {
    max-width: 100%;
}

.sidenav {
    position: fixed;
    left: 0;
    display: none;
}

.sidenav>ul,
.sidenav>ul>li>ul {
    list-style: none;
}

iframe{
    border: 0;
}

@keyframes color-change {
    from {
        fill: #F7C391
    }
    to {
        fill: #FFFFFF
    }
}

@keyframes star-blink {
    from {
        opacity: 1
    }
    to {
        opacity: .2
    }
}

.moon {
    animation: 4s color-change infinite alternate linear;
}

.star1 {
    animation: 1s star-blink infinite alternate linear;
}

.star2 {
    animation: 2s star-blink infinite alternate linear;
}

.star3 {
    animation: 3s star-blink infinite alternate linear;
}

@media all and (max-width: 500px) {
    .logo {
        height: 50px;
    }
    h1 {
        font-size: 24px;
        text-align: left;
    }
    .column-4 {
        width: 49%;
        margin-right: 1%;
    }
    .column-4:nth-child(2) {
        margin-right: 0;
    }
    .text-container {
        font-size: 18px;
    }
}

@media all and (min-width: 1300px) {
    .sidenav {
        display: block;
    }
}